<div id="header"> 
  <div class="navigation"> 
    <%= link_to "Home", root_path %>
    <% if signed_in? %> 
      <%= link_to "Profile", current_user %>
      <%= link_to "Sign out", signout_path, :method => :delete %>
    <% else %> 
      <%= link_to "Sign in", signin_path %>
    <% end %>
  </div> 
  <div>
    <%= logo %> 
  </div>
</div>